/* setting up the baseline properties for the whole page*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/*background setting of nav-bar*/
.top-nav {
  position: fixed;                    /* fixes the nav bar all the time*/
  top: 0;                             /* margin from top */
  right: 0;                           /* margin from right */
  width: 100%;                        /* stretch full width */
  background-color: #002D72;        /* Heritage Blue */
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
  z-index: 1000;                      /* ensures it stays above other content */
}
/*nav bar display*/
.menu {
  list-style: none;             /* removes the default bullet points */          
  margin: 0;
  padding: 0;
  display: flex;                /* makes <li> go left-to-right */
  gap: 50px;                    /* spacing between items */
  justify-content: flex-end;    /* aligns items to the right */
}
/*nav bar links*/
.menu a {  
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.menu a.active {
  color: #FFD100 !important;
  font-weight: 800;
  text-decoration: underline;
}
